* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container a {
  text-decoration: none;
  color: black;
}

ul {
  background-color: rgb(16, 115, 82);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  font-size: 1.2rem;
}
ul li {
  margin-left: 2em;
}

footer {
  background-color: rgb(133, 95, 45);
}

.container a:hover,
.container a:active,
.container a.active {
  color: aliceblue;
  border-bottom: 4px solid rgb(190, 104, 5);
  padding-bottom: 0.25em;
}
